001 print 기초<br>
화면에 Hello World 문자열을 출력하세요.

In [1]:
print('Hello World')

Hello World

002 print 기초<br>
화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

003 print 기초<br>
화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

신씨가 소리질렀다. "도둑이야".

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

004 print 기초<br>
화면에 C:\Windows를 출력하세요.

In [5]:
print('C:\\Windows')

C:\Windows

005 print 탭과 줄바꿈<br>
다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

In [7]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 줄바꿈이고, \t은 tab만큼 띄워쓰기

안녕하세요.
만나서		반갑습니다.

006 print 여러 데이터 출력<br>
print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print ("오늘은", "일요일")

In [10]:
print ("오늘은", "일요일")
print ("오늘은" + "일요일")
# ,는 띄어쓰기를 해주고 +는 글이 붙어나옴

오늘은 일요일
오늘은일요일

007 print 기초<br>
print() 함수를 사용하여 다음과 같이 출력하세요.

naver;kakao;sk;samsung

In [11]:
print('naver'+';'+'kakao'+';'+'sk'+';'+'samsung')

naver;kakao;sk;samsung

In [12]:
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

008 print 기초<br>
print() 함수를 사용하여 다음과 같이 출력하세요.

naver/kakao/sk/samsung

In [13]:
print("naver", "kakao", 'sk', "samsung", sep="/")

naver/kakao/sk/samsung

009 print 줄바꿈<br>
다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first");print("second")

In [14]:
print("first");print("second")

first
second

In [16]:
print("first", end=' ');print("second")

first second

010 연산 결과 출력<br>
5/3의 결과를 화면에 출력하세요.

In [26]:
print(f'{5/3:.2f}')

1.67

011 변수 사용하기<br>
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [27]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

012 변수 사용하기<br>
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요

<table>
<thead>
<tr>
<th>항목</th>
<th>값</th>
</tr>
</thead>
<tbody>
<tr>
<td>시가총액</td>
<td>298조</td>
</tr>
<tr>
<td>현재가</td>
<td>50,000원</td>
</tr>
<tr>
<td>PER</td>
<td>15.79</td>
</tr>
</tbody>
</table>

In [29]:
시가총액 = 2980000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

013 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.<br>
s = "hello"
t = "python"
<br>
실행 예:
hello! python

In [2]:
s = "hello" 
t = "python"
print(f'{s}! {t}')

hello! python

014 파이썬을 이용한 값 계산<br>
아래 코드의 실행 결과를 예상해보세요<br>
2 + 2 * 3

In [3]:
print(2+2*3)

8

015 type 함수<br>
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.<br>
a = 128
print (type(a))
<class 'int'>

아래 변수에 바인딩된 값의 타입을 판별해보세요.
a = "132"

In [4]:
a = '132'
print(type(a))

<class 'str'>

016 문자열을 정수로 변환<br>
문자열 '720'를 정수형으로 변환해보세요

In [6]:
num_str = "720"
print(int(num_str),type(int(num_str)))

720 <class 'int'>

017 정수를 문자열 100으로 변환<br>
정수 100을 문자열 '100'으로 변환해보세요.

In [7]:
num = 100
print(str(num), type(str(num)))

100 <class 'str'>

018 문자열을 실수로 변환<br>
문자열 "15.79"를 실수(float) 타입으로 변환해보세요

In [8]:
a = '15.79'
print(float(a), type(float(a)))

15.79 <class 'float'>

019 문자열을 정수로 변환<br>
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

In [9]:
year = 2025
nyear = int(year)
print(nyear, (nyear-1),(nyear-2))

2025 2024 2023

020 파이썬 계산<br>
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [11]:
ac = int(48584)
acsum = ac*36 
print(acsum)

1749024

021 문자열 인덱싱<br>
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요

In [13]:
letters = 'python'
print(letters[0], letters[2])

p t

022 문자열 슬라이싱<br>
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [17]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

023 문자열 인덱싱<br>
아래의 문자열에서 '홀' 만 출력하세요

In [18]:
string = "홀짝홀짝홀짝"
print(string[0:5:2])

홀홀홀

024 문자열 슬라이싱<br>
문자열을 거꾸로 뒤집어 출력하세요.

In [25]:
string = "PYTHON"
print(string[::-1])

NOHTYP

025 문자열 치환<br>
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [28]:
phone_number = "010-1111-2222"
pn = phone_number.replace('-',' ')
print(pn)

010 1111 2222

026 문자열 다루기<br>
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요

In [29]:
phone_number = "010-1111-2222"
pn = phone_number.replace('-','')
print(pn)

01011112222

027 문자열 다루기<br>
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

In [30]:
url = "http://sharebook.kr"
print(url[17:])

kr

028 문자열은 immutable<br>
아래 코드의 실행 결과를 예상해보세요.

In [33]:
lang = 'python'
# lang[0] = 'P'
print(lang[0])

p

029 replace 메서드<br>
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

In [34]:
string = 'abcdfe2a354a32a'
astring = string.replace('a','A')
print(astring)

Abcdfe2A354A32A

## 030 replace 메서드<br>
아래 코드의 실행 결과를 예상해보세요.

In [2]:
string = 'abcd'
string.replace('b', 'B')
print(string)

#틀림-문자열은 변경할 수 없다. 꼭 기억하기

abcd

031 문자열 합치기<br>
아래 코드의 실행 결과를 예상해보세요.

In [3]:
a = "3"
b = "4"
print(a + b)

34

032 문자열 곱하기<br>
아래 코드의 실행 결과를 예상해보세요

In [4]:
print("Hi" * 3)

HiHiHi

033 문자열 곱하기<br>
화면에 '-'를 80개 출력하세요.

In [5]:
print('-'*80)

--------------------------------------------------------------------------------

034 문자열 곱하기<br>
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

In [10]:
t1 = 'python'
t2 = 'java'
print(f'{t1} {t2} ' *4)

python java python java python java python java

## 035 문자열 출력<br>
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.<br>
이름: 김민수 나이: 10<br>
이름: 이철희 나이: 13

In [12]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

## 036 문자열 출력<br>
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [13]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

037 문자열 출력<br>
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [15]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

038 컴마 제거하기<br>
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [17]:
상장주식수 = "5,969,782,550"
sj = 상장주식수.replace(',','')
print(int(sj), type(int(sj)))

5969782550 <class 'int'>

039 문자열 슬라이싱<br>
다음과 같은 문자열에서 '2020/03'만 출력하세요

In [18]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

040 strip 메서드<br>
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

In [22]:
data = "   삼성전자    "
print(data.lstrip().rstrip())
print(data.strip())

삼성전자
삼성전자

041 upper 메서드<br>
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

In [23]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

042 lower 메서드<br>
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

In [24]:
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

### 043 capitalize 메서드<br>
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [26]:
a = 'hello'
print(a.capitalize())

Hello

## 044 endswith 메서드<br>
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

In [30]:
file_name = "보고서.xlsx"
a = file_name.endswith('xlsx')
print(a)

True

045 endswith 메서드<br>
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

In [33]:
file_name = "보고서.xlsx"
if file_name.endswith('xlsx'):
    print(True)
elif file_name.endswith('xls'):
    print(False)

True

## 046 startswith 메서드<br>
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

In [35]:
file_name = "2020_보고서.xlsx"
a = file_name.startswith('2020')
print(a)

True

047 split 메서드<br>
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

In [36]:
a = "hello world"
a.split()
print(a)

hello world

048 split 메서드<br>
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

In [37]:
ticker = "btc_krw"
ticker.split('_')
print(ticker)

btc_krw

049 split 메서드<br>
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요

In [47]:
date = "2020-05-01"
date.split('-')
print(date)
y = date[:4]
m = date[5:7]
d = date[8:]
print(y,m,d)

2020-05-01
2020 05 01

050 rstrip 메서드<br>
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

In [48]:
data = "039490     "
print(data.rstrip())

039490

051 리스트 생성<br>
2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

<table>
<thead>
<tr>
<th>순위</th>
<th>영화</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>닥터 스트레인지</td>
</tr>
<tr>
<td>2</td>
<td>스플릿</td>
</tr>
<tr>
<td>3</td>
<td>럭키</td>
</tr>
</tbody>
</table>

In [49]:
movie_rank = ['닥터 스트레인지','스플릿','럭키']
print(movie_rank, type(movie_rank))

['닥터 스트레인지', '스플릿', '럭키'] <class 'list'>

052 리스트에 원소 추가<br>
051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [50]:
movie_rank = ['닥터 스트레인지','스플릿','럭키']
movie_rank.append('배트맨')
print(movie_rank, type(movie_rank))

['닥터 스트레인지', '스플릿', '럭키', '배트맨'] <class 'list'>

## 053<br>
movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라

In [54]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

## 054<br>
movie_rank 리스트에서 '럭키'를 삭제하라.

In [57]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

055<br>
movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

In [59]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

056<br>
lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

In [60]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

## 057<br>
다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

In [66]:
nums = [1, 2, 3, 4, 5, 6, 7]

print('최솟값: ' , min(nums))
print('최댓값: ' , max(nums))

최솟값:  1
최댓값:  7